.page {
  padding-top: 40px;
  padding-bottom: 120px;

  @include sm-up {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  &__container {
    max-width: 970px;
    padding-left: 20;
    padding-right: 20px;
    margin: 0 auto;

    @include sm-up {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}