$color-black: #333333;
$color-white: #f1f1f1;
$color-blue: #4682B4;
$color-gray-border: #dedede;
$color-red-error: #ed4337;

// type
$color-normal: linear-gradient(45deg, rgba(254,234,168,1) 25%, rgba(198,175,136,1) 65%);
$color-fighting: linear-gradient(45deg, rgba(204,101,78,1) 25%, rgba(191,47,14,1) 65%);
$color-flying: linear-gradient(45deg, rgba(172,210,255,1) 25%, rgba(107,175,255,1) 65%);
$color-poison: linear-gradient(45deg, rgba(216,117,223,1) 25%, rgba(182,27,195,1) 65%);
$color-ground: linear-gradient(45deg, rgba(218,143,63,1) 25%, rgba(209,128,20,0.9864320728291317) 65%);
$color-rock: linear-gradient(45deg, rgba(195,129,59,1) 25%, rgba(162,100,18,0.9864320728291317) 65%);
$color-bug: linear-gradient(45deg, rgba(238,242,52,1) 25%, rgba(149,189,34,1) 65%);
$color-ghost: linear-gradient(45deg, rgba(217,217,217,1) 0%, rgba(54,23,84,1) 100%);
$color-steel: linear-gradient(45deg, rgba(232,232,232,1) 0%, rgba(203,201,201,1) 100%);
$color-fire: linear-gradient(45deg, rgba(235,67,17,1) 25%, rgba(255,183,56,1) 65%);
$color-water: linear-gradient(45deg, rgba(189,239,245,1) 25%, rgba(48,211,237,1) 65%);
$color-grass: linear-gradient(45deg, rgba(164,242,52,1) 25%, rgba(44,190,88,1) 65%);
$color-electric: linear-gradient(45deg, rgba(255,224,121,1) 25%, rgba(255,217,27,1) 65%);
$color-psychic: linear-gradient(45deg, rgba(242,160,249,1) 24%, rgba(244,56,227,1) 65%);
$color-ice: linear-gradient(45deg, rgba(206,243,244,1) 25%, rgba(153,239,240,1) 65%);
$color-dragon: linear-gradient(45deg, rgba(213,237,250,1) 25%, rgba(153,179,240,1) 65%);
$color-dark: #111;
$color-fairy: linear-gradient(45deg, rgba(249,160,225,1) 24%, rgba(255,105,173,1) 85%);
$color-unknown: #000;
$color-shadow: linear-gradient(45deg, rgba(99,99,99,1) 0%, rgba(31,31,31,1) 100%);